/*
 Created: Fri 090922 23:35 PM GMT
 Updated: Sat 100922 00:29 AM GMT
*/

/* links */

a:link{color:blue;text-decoration:none;}
a:active{color:yellow;}
a:hover{color:red;text-decoration:underline;}
a:visited{color:purple;}

html{
 text-indent:1cm;
 background-color:black;
}

body{
 padding:1cm;
 font-family:monospace,verdana,arial,sans-serif;
 background-color:white;
 color:black;
}

nav{
  text-align:center;
}

.clsSelectedIndex{
 font-style:italic;
 font-size:larger;
 font-weight:bold;
 background-color:black;
 color:white;
 padding:3px;
 text-transform:uppercase;
}

header{
  text-align:center;
}

h1{

}

.clsH1TitleTextAtomWeb01Text{
 border:1px dashed green;
 padding:3px;
}

.clsVisitorSiteLocation{
 font-style:italic;
 text-transform:uppercase;
}

main{

}

.clsPara{
 text-indent:1cm;
}

h2{

}

footer{
 text-align:center;
}

.clsCopyrightMessage{
 background:black;
 color:white;
}

.clsDateTimeStamp{
 color:red;
 font-style:italic;
}
